body {
    background-color: rgb(30, 30, 50);
}

.slide {
    width: 100vw;
    height: 100vh;
}

.page {
    padding: 15vh 10vw;
    text-align: center;
    color: white;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
}

.time {
    position: absolute;
    color: white;
    font-size: 200%;
    right: 0;
}

.textbox {
    border-radius:0.3em;
    color: black;
    font-size: 150%
}

.textbox:nth-child(1) {
    width: 40%;
    background-color: white;
}

.textbox:nth-child(2) {
    width: 30%;
    background-color: #91ED61;
    transform: translate(calc((7/3) * 100%),0);
}

.textbox:nth-child(3) {
    width: 50%;
    background-color: white;
}

.textbox:nth-child(4) {
    width: 20%;
    background-color: white;
}

/* img {
    transform: rotate(30deg);
} */