@keyframes box {
    from {opacity: 0;}
    to {opacity: 1;}
}

body {
    background-color: rgb(30, 30, 50);
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 300%;
}

.message {
    border-radius:0.3em;
    background-color: white;
    color: black;
    margin: 1vh 0;
    opacity: 0;
}

p, .message {
    font-size: 300%;
}

.slide {
    width: 100vw;
    height: 100vh;
}

.time {
    position: fixed;
    color: white;
    font-size: 300%;
    right: 1vw;
    bottom: 1vw;
}

.page {
    padding: 10vh 10vw;
    text-align: center;
    color: white;
}

.textbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.space {
    width: 100%;
    height: 10vw;
}

.line {
    width: 100%;
    height: 1vw; 
    border-radius:0.5vw;
    background-color: white;
    transform: translateY(2.5vw);
}

.bar {
    width: 4vw;
    height: 4vw;
    border-radius: 2vw;
    background-color: white;
    transform: translateX(-2vw);
    transition: transform 0.1s ease-in-out;
}

.graph {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.padding {
    padding: 10vmin 10vmin;
}

.botton {
    width: 30vmin;
    height: 30vmin;
    border-radius: 50%;
    background-color: #c2cbd9;
}

.red-text {
    color: red;
}

.shape {
    position: absolute;
    display: flex;
    width: 15vmin;
    height: 15vmin;
}

.shape::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 3vmin 3vmin 6vmin #a3b1c6,
    -2vmin -2vmin 4vmin #e0e5ec;
}

.shape::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 3vmin 3vmin 9vmin #a3b1c6,
    inset -3vmin -3vmin 6vmin #e0e5ec;
}

.blur {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2vmin);
}

.message:nth-of-type(2) {
    align-self: flex-end;
    background-color: #91ED61;
}

.message:nth-of-type(1) {
    animation: box 1s 1s forwards;
    animation-play-state: paused;
}

.message:nth-of-type(2) {
    animation: box 1s 2s forwards;
    animation-play-state: paused;
}

.message:nth-of-type(3) {
    animation: box 1s 3s forwards;
    animation-play-state: paused;
}

.message:nth-of-type(4) {
    animation: box 1s 4s forwards;
    animation-play-state: paused;
}